@page
@model bingo.Pages.BingoCardModel
@{

    var bingoNumbers = (List<int>)ViewData["BingoNumbers"];
    var iterator = 0;
}

<div class="container bg-danger p-4">
    <h2 class="display-4 text-center text-white">Lockdown Bingo</h2>
    <div class="container">
        @for (var i = 0; i < 5; i++)
        {
            <div class="row">

                @for (var j = 1; j < 6; j++)
                {
                    <div class="col p-3 border border-dark text-center bg-white" onclick="alert('@bingoNumbers.ElementAtOrDefault(iterator)')"><h3>@bingoNumbers.ElementAtOrDefault(iterator)</h3></div>
                    iterator++;
                }
            </div>
        }


    </div>
</div>
